[submodule "libvpx"]
	path = libvpx
	url = https://github.com/mdesnoyer-neon/libvpx.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/neon-lab/ffmpeg.git
[submodule "yasm"]
	path = yasm
	url = https://github.com/neon-lab/yasm.git
[submodule "x264"]
	path = x264
	url = https://github.com/neon-lab/x264.git
[submodule "s3cmd"]
	path = s3cmd
	url = git@github.com:freerobby/s3cmd.git
[submodule "redis"]
	path = redis
	url = git@github.com:neon-lab/redis.git
